#page-body {
  position: relative;
  height: calc(100vh - 100px); 
  min-height: 30rem;
  max-width: 100%;
  overflow: hidden;
  background-color: #AAD0A1;
}
#main-bg {
  min-width: 100vw;
  height: 100%;
  /* position: absolute; */
  min-height: calc(100vh - 100px);
  background: url(./images/main-bg.jpg) center no-repeat;
  background-size: 60%;
  background-position: 30% center;
}
.login-box{
  position: absolute;
  top: 15%;
  right: 5%;
  width: 30rem;
  /* min-height: 35rem; */
}

.login-box .form-box.login{
  left: 0;
  padding: 0 3vw 0 3vw;
  border: 5px solid #06a700;
  border-radius: 15%;
  box-shadow: 3px 6px #06a700;
}
.login-box.active .form-box.login{
  border: unset;
  box-shadow: unset;
}
.login-box.active2 .form-box.login{
  border: unset;
  box-shadow: unset;
}
.login-box.active3 .form-box.login{
  border: unset;
  box-shadow: unset;
}
.login-box .form-box.login .animation{
  transform: translateX(0);
  transition: .7s ease;
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.01s*var(--j));
}

.login-box.active .form-box.login .animation{
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.01s*var(--i));
}
.login-box.active2 .form-box.login .animation{
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.01s*var(--i));
}
.login-box.active3 .form-box.login .animation{
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.01s*var(--i));
}

.login-box .form-box.register{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30rem;
  min-height: 32rem;
  padding: 0 60px 0 40px;
  box-sizing: border-box;
  pointer-events: none;
}

.login-box.active .form-box.register{
  pointer-events: auto;
  border: 5px solid #06a700;
  border-radius: 15%;
  box-shadow: 3px 6px #06a700;
}

.login-box .form-box.register .animation{
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: .7s ease;
  transition-delay: calc(.01s*var(--j));
}

.login-box.active .form-box.register .animation{
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.01s*var(--i));
}


/*  */


.login-box .form-box.forgotpass{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30rem;
  padding: 0 60px 0 40px;
  box-sizing: border-box;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.login-box.active2 .form-box.forgotpass{
  pointer-events: auto;
  border: 5px solid #06a700;
  border-radius: 15%;
  box-shadow: 3px 6px #06a700;
}

.login-box .form-box.forgotpass .animation{
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: .7s ease;
  transition-delay: calc(.01s*var(--j));
}

.login-box.active2 .form-box.forgotpass .animation{
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.01s*var(--i));
}

.forgotpass button {
  margin-top: 20px;
}



/*  */
.login-box .form-box.enterName{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30rem;
  padding: 0 60px 0 40px;
  box-sizing: border-box;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.login-box.active3 .form-box.enterName{
  pointer-events: auto;
  border: 5px solid #06a700;
  border-radius: 15%;
  box-shadow: 3px 6px #06a700;
}

.login-box .form-box.enterName .animation{
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: .7s ease;
  transition-delay: calc(.01s*var(--j));
}

.login-box.active3 .form-box.enterName .animation{
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.01s*var(--i));
}

.enterName button {
  margin-top: 20px;
}
/*  */
.backtolog {
  /* position: absolute; */
  max-height: fit-content;
  width: fit-content;
  color: #fff;
  align-self: flex-end;
  margin:10px 15px;
}
.backtolog:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*  */


.form-box h2{
  font-size: 32px;
  color: #277114;
  text-align: center;
}

.form-box .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  padding-right: 24px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom-color: green;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
  color: green;;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}

.forgot {
  height: fit-content;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  margin: -10px 0 10px 65%;
}
.forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}

.log-icon {
  margin-top: 20px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.log-icon i {
  color: #00f;
  margin-bottom: 10px;
}
.log-icon i:hover {
  cursor: pointer;
}

.btn{
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid lightgreen;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.btn::before{
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#7fbf2c, rgb(28, 142, 0), #76e039, rgb(0, 172, 46));
  z-index: -1;
  transition: .5s;
}

.btn:hover::before{
  top: 0;

}
.butn{
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid lightgreen;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #35901e;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.butn::before{
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#ddf883, #bce01e, #dcff68, #f8ffe2);
  z-index: -1;
  transition: .5s;
}

.butn:hover::before{
  top: 0;

}

.btn:last-child {
  top: -20px;
  width: fit-content;
}
.forgotForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn:last-child::before {
  background: linear-gradient(#06a700, rgb(27, 135, 0), #49c203, rgb(29, 139, 25)) !important;
}
.form-box .logreg-link{
  font-size: 14.5px;
  color: #fff;
  text-align: center;
  margin: 10px 0 10px;
}

.logreg-link p a {
  color: #277114;
  text-decoration: none;
  font-weight: 600;
}
  
.logreg-link p a:hover {
  text-decoration: underline;
  color:#35901e
}
  
@media (min-width: 740px) and (max-width: 1023px){
  #page-body{
    height: calc(100vh - 80px); 
    min-height: 30rem;
  }
  #main-bg{
    min-height: calc(100vh - 80px); 
    background-position: 20%;

  }
  .login-box{
    top:10%;
    right: 5%;
    width: 26rem;
  }
  .form-box h2{
    font-size: 30px;
    color: #277114;
    text-align: center;
    margin: 20px 0 10px;
  }
  .form-box .input-box{
    height: 40px;
    margin: 20px 0;
  }
  .login-box .form-box.forgotpass{
    top: 5vh;
    right: 0;
    width: 25rem;
  }
  .login-box .form-box.form-box.register{
    top: 5vh;
    right: 0vw;
  }

  .backtolog{
    text-decoration: underline;
  }
  .forgot{
    text-decoration: underline;
  }
  .logreg-link p a {
    text-decoration: underline;
  }
}
@media (max-width:740px) {
  #page-body{
    height: calc(100vh - 60px);
    min-height: 28rem;
  }
  #main-bg{
    display: none;
  }
  .login-box{
    top:10%;
    right:50%;
    transform:translateX(50%);
    width: 25rem;
  }
  .login-box .form-box.forgotpass{
    top: 0;
    right: 0;
    width: 25rem;
  }
  .login-box .form-box.form-box.register{
    top: 0;
    right:50%;
    transform:translateX(50%);
    width: 30rem;
  }
  .input-box input{
    padding-right: 5px;
  }
  .backtolog{
    text-decoration: underline;
  }
  .forgot{
    text-decoration: underline;
  }
  .logreg-link p a {
    text-decoration: underline;
  }
}
@media (max-width: 500px) {
  .form-box .input-box{
    height: 40px;
    margin: 20px 0;
  }
  .form-box h2{
    font-size: 28px;
    color: #277114;
    text-align: center;
    margin: 15px 0 5px;
  }
  .login-box{
    top:10%;
    right:50%;
    transform:translateX(50%);
    width: 90vw;
  }
  .input-box input{
    padding-right: 0;
  }
  .forgot {
    margin: -10px 0 10px 65%;
    max-height: fit-content;
    min-width: fit-content;
  }
  .login-box .form-box.login{
    margin-top: 5%;
  }
  .login-box .form-box.forgotpass{
    top:10%;
    right:50%;
    transform:translateX(50%);
    width: 90vw;
    padding: 0;
    margin: 0;
  }
  .login-box .form-box.form-box.register{
    top: 0%;
    right:50%;
    transform:translateX(50%);
    width: 90vw;

  }
  .backtolog{
    text-decoration: underline;
  }
  .forgot{
    text-decoration: underline;
  }
  .logreg-link p a {
    text-decoration: underline;
  }
  .butn{
    width: 70vw;
  }
}
@media (max-height: 640px) {
  .form-box .input-box{
    height: 40px;
    margin: 20px 0;
  }
  .login-box .form-box.register{
    min-height: 26rem;
  }
  .login-box{
    top: 5%;
  }
}








