.toolbar{
    height: 100px;
    position: fixed;
    width: 100vw;
    background-color: #dcf1de;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2vw;
}
.toolbar > h2 {
    font-size: 30px;
    color: #38A925;
}
.logo-zone{
    height: 100px;
    width:  100px;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-left: 4vw;
}
#logo {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: none;
    border: 1px solid black;
}
.func-bar{
    height: 100%;
    flex-grow: 2;
    box-sizing: border-box;
}
.func-bar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.func-bar ul li {
    height: 100%;
    width: 7vw;
    padding: 0 10px;
    align-content: center;
    text-align: center;
    font-weight: 600;
}
.func-bar ul li:hover {
    cursor: pointer;
    background-color: #76e039;
}

.login-btn{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 45px;
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid lightgreen;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#7fbf2c, rgb(28, 142, 0), #76e039, rgb(0, 172, 46));
    z-index: -1;
    transition: .5s;
}

.btn:hover::before{
    top: 0;
}

.user-zone {
    flex-grow: 0.3;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    box-sizing: border-box;
    padding: 0 10px;
    align-items: center;
}
.user-avatar{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 100%;
}
.user-avatar img{
    height: 100%;
    width: 100%;
}
.user-name{
    font-weight: 500;
    color: #277114;
    margin-left: 10px;
}

.hidden-icon{
    display: none;
}
.hidden-bar{
    height: 100vh;
    width: 100px;
    position: absolute;
    top: 100px;
    right: 0;
    /* display: none; */
    z-index: 999;
    transition: linear .3s;
    opacity: 0;
}
.hidden-bar ul{
    margin: 0;
    padding: 0;
}
.hidden-bar li{
    list-style: none;
    padding: 15px 0 15px 20px;
    border-bottom: 2px solid #38A925;
    margin: 0;
}
.show{
    /* display: block; */
    opacity: 1;
    width: 40vw;
}
@media (min-width: 740px) and (max-width: 1023px){
    body{
        font-size: 13px;
    }
    .toolbar{
        height: 80px;
    }
    .logo-zone{
        height: 80px;
        width: 80px;
    }
    #logo{
        height: 60px;
        width: 60px;
    }
    .user-avatar{
        height: 60px;
        width: 60px;
    }
    .user-zone{
        margin-right: 10px;
    }
}
@media (max-width: 739px){
    body{
        font-size: 12px;
    }
    .toolbar{
        height: 70px;
    }
    .logo-zone{
        height: 70px;
        width: 70px;
    }
    #logo{
        height: 50px;
        width: 50px;
    }
    .func-bar{
        display: none;
    }
    .user-avatar{
        height: 50px;
        width: 50px;
    }

    .hidden-icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 3;
        height: 100%;
        font-size: 20px;
        color: #277114;
    }
    .hidden-bar{
        top: 70px;
    }
}
@media (max-width: 374px){
    .user-name{
        display: none;
    }
}